<?xml version="1.0"?>
<config>
    <modules>
        <Gmcode_Aove>
            <version>1.0.0</version>
        </Gmcode_Aove>
    </modules>
    <frontend>
        <routers>
            <aove>
                <use>standard</use>
                <args>
                    <module>Gmcode_Aove</module>
                    <frontName>aove</frontName>
                </args>
            </aove>
        </routers>
        <!--<layout>
            <updates>
                <aove>
                    <file>aove.xml</file>
                </aove>
            </updates>
        </layout>-->
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<aove>
					<file>aove.xml</file>
				</aove>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <aove>
                <class>Gmcode_Aove_Model</class>
                <resourceModel>aove_mysql4</resourceModel>
            </aove>
            <aove_mysql4>
                <class>Gmcode_Aove_Model_Mysql4</class>
                <entities>
                  <attributes>
                      <table>aove_attributes</table>
                  </attributes>
                  <options>
                      <table>aove_options</table>
                  </options>
                </entities>
            </aove_mysql4>
        </models>
        <resources>
            <aove_setup>
                <setup>
                    <module>Gmcode_Aove</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aove_setup>
            <aove_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aove_write>
            <aove_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aove_read>
        </resources>
        <blocks>
            <aove>
                <class>Gmcode_Aove_Block</class>
            </aove>
        </blocks>
        <helpers>
            <aove>
                <class>Gmcode_Aove_Helper</class>
            </aove>
        </helpers>
    </global>
	<default>
		<aove>
			<general>
				<width>900</width>
				<height>320</height>
				<overlayer>false</overlayer>
				<pause_on_click>false</pause_on_click>
				<portrait>false</portrait>
				<thumbnails>false</thumbnails>
				<bar_position>bottom</bar_position>
				<skin>camera_grey_skin</skin>
				<cols>6</cols>
				<rows>4</rows>
				<pie_diameter>38</pie_diameter>
				<sliced_cols>0</sliced_cols>
				<sliced_rows>0</sliced_rows>
				<time>7000</time>
				<trans_period>1200</trans_period>
				<grid_difference>250</grid_difference>
			</general>
			<effects>
				<fx>random</fx>
				<loader_color>CCCCCC</loader_color>
				<loader_bg_color>222222</loader_bg_color>
				<loader_opacity>0.8</loader_opacity>
				<loader_padding>2</loader_padding>
				<loader_stroke>7</loader_stroke>
			</effects>
		</aove>
	</default>
    <admin>
        <routers>
            <aove>
                <use>admin</use>
                <args>
                    <module>Gmcode_Aove</module>
                    <frontName>aove</frontName>
                </args>
            </aove>
        </routers>
    </admin>
</config>
